@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0px 0px 0px 0px;
    background-color: $secondaryColor;
}

.chocoboMode{
    background-color: #E6D901;
}

#btnToggler{
    background-color: $primaryColor;
    color: white;
    border: 0px;
}

#btnToggler:hover{
    color:#E6D901;
}