nav{
    width: 100%
}

.navbar{
    background-color: $primaryColor;
}

.navbar-brand{
    font-size: 30px;
    font-family: Quicksand;
    color: $fontMain;
}

.searchBar{
    margin-right: 20px;
}

.fa-magnifying-glass{
    padding: 10px 20px;
    color: white;
}